.analysis-layout-container {
    padding: 0; /* Reset padding if necessary */
    margin: 0; /* Reset margin if necessary */
    display: flex;
    flex-direction: column;
}

.tabs-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px; /* Ensure the same spacing */
}

.tab-item {
    width: 200px;
    height: 30px;
    padding: 0.5rem 2rem 0.5rem 1rem; /* Adjust padding to accommodate the close button */
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    color: #DBD5C3;
    font-weight: 500;
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center;
    cursor: pointer;
}

.tab-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    clip-path: inherit;
    z-index: -1;
}

.tab-item:hover {
    background-color: rgb(56 189 248); /* Adjust the hover color as needed */
}

.active-tab {
    background-color: rgb(56 189 248); /* Active tab background color */
}

.inactive-tab {
    background-color: rgb(12 74 110); /* Inactive tab background color */
}

.close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    margin-left: auto; /* Push the button to the right */
    margin-right: 8px; /* Add some space between the text and the button */
}
